* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Cinzel", serif;
  color: #FFE373;
text-shadow: 1px 2px 4px #000000;
  font-size: large;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 60px;
  min-width: 1400px;
  background: linear-gradient(324deg, #002868 4%, transparent 4%) -0.7in 0.43in,
    linear-gradient(36deg, #002868 4%, transparent 4%) 0.3in 0.43in,
    linear-gradient(72deg, #fff 8.5%, transparent 8.5%) 0.3in 0.43in,
    linear-gradient(288deg, #fff 8.5%, transparent 8.5%) -0.7in 0.43in,
    linear-gradient(216deg, #fff 7.5%, transparent 7.5%) -0.7in 0.23in,
    linear-gradient(144deg, #fff 7.5%, transparent 7.5%) 0.3in 0.23in,
    linear-gradient(324deg, #002868 4%, transparent 4%) -0.2in 0.93in,
    linear-gradient(36deg, #002868 4%, transparent 4%) 0.8in 0.93in,
    linear-gradient(72deg, #fff 8.5%, transparent 8.5%) 0.8in 0.93in,
    linear-gradient(288deg, #fff 8.5%, transparent 8.5%) -0.2in 0.93in,
    linear-gradient(216deg, #fff 7.5%, transparent 7.5%) -0.2in 0.73in,
    linear-gradient(144deg, #fff 7.5%, transparent 7.5%) 0.8in 0.73in, #002868;
  background-size: 1in 1in;
 
}

h3 {
  color: #FFE373;
}

header {
  display: flex;
  justify-content: center;
  min-width: 1400px;
  background-image: linear-gradient(
    180deg,
    #BF0A30 25%,
    #e3e4e6 25%,
    #e3e4e6 50%,
    #BF0A30 50%,
    #BF0A30 75%,
    #e3e4e6 75%,
    #e3e4e6 100%
  );
  background-size: 80px 41.5px;
  box-shadow: 0 7px 7px -2px rgba(0,0,0,.5);
}

button {
  display: flex;
  border-radius: 8px;
  transition: transform 0.15s;
  transform-style: preserve-3d;
  justify-content: center;
  background-color: #002868;
  border-color: #FFE373;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.1rem;
  border-width: 1.5px;
  transition-duration: 0.4s;
  box-shadow: rgba(0, 0, 0, 0.393) 0px 2px 1px, rgba(0, 0, 0, 0.705) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 4px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

button::before {
  transform: translate3d(0, 0.65em, -1em);
  transition: transform 0.15s, box-shadow 0.15s;
}

button:hover {
  transform: translate(0, 0.15em);
}
button:hover::before {
  transform: translate3d(0, 0.5em, -1em);
}
button:active {
  transform: translate(0em, 0.65em);
}
button:active::before {
  transform: translate3d(0, 0, -0.5em);
}

body {
  background-image: url("/Images/roThWj.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.senators {
  display: flex;
  flex-wrap: wrap;
  min-width: 1400px;
  justify-content: center;
}

figure {
  width: 150px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.164) 0px 2px 1px, rgba(0, 0, 0, 0.032) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 4px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.532) 0px 2px 6px;
}

figcaption {
  text-align: center;
  background-color: black;
  border-radius: 0px 0px 5px 5px;
  font-size: 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(324deg, #002868 4%, transparent 4%) -0.7in 0.43in,
  linear-gradient(36deg, #002868 4%, transparent 4%) 0.3in 0.43in,
  linear-gradient(72deg, #fff 8.5%, transparent 8.5%) 0.3in 0.43in,
  linear-gradient(288deg, #fff 8.5%, transparent 8.5%) -0.7in 0.43in,
  linear-gradient(216deg, #fff 7.5%, transparent 7.5%) -0.7in 0.23in,
  linear-gradient(144deg, #fff 7.5%, transparent 7.5%) 0.3in 0.23in,
  linear-gradient(324deg, #002868 4%, transparent 4%) -0.2in 0.93in,
  linear-gradient(36deg, #002868 4%, transparent 4%) 0.8in 0.93in,
  linear-gradient(72deg, #fff 8.5%, transparent 8.5%) 0.8in 0.93in,
  linear-gradient(288deg, #fff 8.5%, transparent 8.5%) -0.2in 0.93in,
  linear-gradient(216deg, #fff 7.5%, transparent 7.5%) -0.2in 0.73in,
  linear-gradient(144deg, #fff 7.5%, transparent 7.5%) 0.8in 0.73in, #002868;
background-size: 1in 1in;
  min-width: 1400px;
  min-height: 50px;
}
