* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Cinzel", serif;
  color: #F4FFB6;
  font-size: x-large;
}

nav{
display: flex;
background-color: #7D1C12;
justify-content: center;
font-size: 3rem;
min-width: max-content;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4rem;
  min-width: max-content;
}

h1 {
  width: 100%;
  background-color: #7D1C12;
}
h2 {
  background-color: #7D1C12;
}

button {
  display: flex;
  justify-content: center;
  background-color: #2ABDAC;
  padding: 1.04rem;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

button:hover {
  background-color: #C27527;
}

button:active {
  background-color: #c063c0;
}

body {
  background-image: url("/Images/roThWj.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.senators {
  display: flex;
  flex-wrap: wrap;
}

figure {
  width: 140px;
  display: flex;
  flex-direction: column;
  margin: 1em;
}

figcaption {
  text-align: center;
  background-color: black;
}

footer{
  display: flex;
  justify-content: center;
  background-color: #7D1C12;;
}
